In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [23]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
632,tt0814314,55000000,168167691,Seven Pounds,Will Smith|Rosario Dawson|Sarah Jane Morris|Wo...,Gabriele Muccino,Seven names. Seven strangers. One secret.,An IRS agent with a fateful secret embarks on ...,123,Drama,Columbia Pictures|Escape Artists|Relativity Me...,12/18/2008,7.4,2008
1195,tt1535108,115000000,286140700,Elysium,Matt Damon|Jodie Foster|Sharlto Copley|Alice B...,Neill Blomkamp,He can save us all.,"In the year 2159, two classes of people exist:...",109,Science Fiction|Action|Drama|Thriller,TriStar Pictures|Media Rights Capital|Sony Pic...,8/7/2013,6.5,2013
1481,tt0381971,50000000,69834815,Curious George,Frank Welker|Will Ferrell|Shane Baumel|Eugene ...,Matthew O'Callaghan,Get Carried Away With The Cutest Little Monkey...,Will Ferrell stars as The Man in the Yellow Ha...,86,Adventure|Animation|Comedy|Family,Imagine Entertainment|Universal Pictures|Unive...,2/10/2006,5.8,2006
845,tt1462041,50000000,38502340,Dream House,Daniel Craig|Naomi Watts|Rachel Weisz|Marton C...,Jim Sheridan,"Once upon a time, there were two little girls ...","Publisher, Will Atenton quits a lucrative job ...",92,Drama|Thriller|Mystery,Cliffjack Motion Pictures|Morgan Creek Product...,9/30/2011,5.9,2011
144,tt2788710,44000000,11305175,The Interview,James Franco|Seth Rogen|Lizzy Caplan|Randall P...,Evan Goldberg|Seth Rogen,The Film Hackers Tried To Get Banned,Dave Skylark and his producer Aaron Rapoport r...,112,Action|Comedy,Columbia TriStar,12/25/2014,6.1,2014

In [24]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [25]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
# profit = revenue - budget
profit = data.revenue - data.budget
data.append(profit, ignore_index = True)
data['profit'] = profit.values
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [26]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [27]:
data_1 = data[data.budget == data.budget.max()]
data_1.original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [28]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [29]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [30]:
data_2 = data[data.runtime == data.runtime.max()]
data_2.original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [31]:
data_3 = data[data.runtime == data.runtime.min()]
data_3.original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [32]:
round(data.runtime.mean(),0)

110.0

In [33]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [34]:
round(data.runtime.median(),0)

107.0

In [35]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [36]:
data_6 = data[data.profit == data.profit.max()]
data_6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [37]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [38]:
data_7 = data[data.profit == data.profit.min()]
data_7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [39]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [40]:
data_8 = data[data.revenue > data.budget]
len(data_8)

1478

In [41]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [42]:
data_9 = data[data.release_year == 2008]
data_9_ = data_9[data_9.revenue == data_9.revenue.max()]
data_9_

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [43]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [44]:
data_10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_10_ = data_10[data_10.profit == data_10.profit.min()]
data_10_

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [45]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [46]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

In [47]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [48]:
data_12 = data[data.profit > 0] 
collections.Counter(data_12['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

In [49]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [50]:
data_13 = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
data_13

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [51]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [52]:
data_14 = data[data.genres.str.contains('Action')]
collections.Counter(data_14['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

In [53]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [54]:
data_15 = data[data.release_year == 2012]
collections.Counter(data_15[data_15.revenue == data_15.revenue.max()]['cast'].str.cat(sep = '|').split('|')).most_common()

[('Robert Downey Jr.', 1),
 ('Chris Evans', 1),
 ('Mark Ruffalo', 1),
 ('Chris Hemsworth', 1),
 ('Scarlett Johansson', 1)]

In [55]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [56]:
data_16 = data[data.budget > data.budget.mean()]
collections.Counter(data_16['cast'].str.cat(sep = '|').split('|')).most_common(5)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

In [57]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [58]:
data_17 = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data_17['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

In [59]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [60]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures')]
data_18_ = data_18[(data_18.profit == data_18.profit.min())]
data_18_

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [61]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [62]:
data_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
data_19

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [63]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [64]:
data_20 = data[data.production_companies.str.contains('Warner Bros')]
data_20_ = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
data_20_

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [65]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [66]:
month = data.release_date.str.split('/').apply(lambda x: x[0]).value_counts().sort_values(ascending = False)
month

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [67]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [68]:
month = data.release_date.str.split('/').apply(lambda x: x[0]).value_counts().sort_values(ascending = False)
month.loc[['6', '7', '8']].sum()

450

In [69]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [70]:
winter = data.release_date.str.split('/').apply(lambda x: x[0])
data.append(winter)
data['winter'] = winter.values
data_23 = data[(data.winter == '12') | (data.winter == '1') | (data.winter == '2')]
collections.Counter(data_23['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

In [71]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [72]:
name_len = data.original_title.apply(lambda x: len(x))
data.append(name_len)
data['name_len'] = name_len.values
max_len = data[data.name_len == data.name_len.max()]
max_len.production_companies

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

In [73]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [74]:
overview_len = data.overview.apply(lambda x: len(x))
data.append(overview_len)
data['overview_len'] = overview_len.values
max_len = data.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending=False)
max_len

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show                                 1000.0
Fox Searchlight Pictures|Room 9 Entertainment                                                                      964.0
Columbia Pictures|Revolution Studios|Happy Madison Productions                                                     959.0
Mandalay Pictures|TriStar Pictures|Brookwell-McNamara Entertainment|FilmDistrict|Affirm Films                      936.0
Lions Gate Family Entertainment|Relativity Media|Crest Animation Productions                                       909.0
                                                                                                                   ...
Focus Films                                                                                                         72.0
Columbia Pictures Corporation|Apatow Productions                                                                    64.0
Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment      62.0
Motion Picture Corporation of America|Artisan Entertainment                                                         59.0
Paramount Pictures|Plan B Entertainment|Regency Enterprises                                                         58.0
Name: overview_len, Length: 1624, dtype: float64

In [75]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [76]:
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [77]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [78]:
import itertools as it
data['combination'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.combination.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [79]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [80]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [81]:
# и убедиться что ни чего не пропустил)
len(answers)

27